@model ToDo
@{
    Layout = "_Layout";
    ViewData["Title"] = "ToDo - Edit";
}

<form method="post" action="/ToDo/Save">
    <input type="hidden" name="ID" value="@Model.ID">
    <div class="mb-2">
        <label asp-for="Title" class="form-label"></label>
        <input class="form-control" asp-for="Title">
        <span asp-validation-for="Title" class="text-danger"></span>
        @if (ViewData.ModelState["Title"]?.Errors.Count > 0)
        {
            <div class="alert alert-danger" role="alert">
                @ViewData.ModelState["Title"].Errors.First().ErrorMessage
            </div>
        }
    </div>
    <div class="mb-2">
        <label asp-for="Completion" class="form-label"></label>
        <input class="form-control" asp-for="Completion">
        <span asp-validation-for="Completion" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="Description" class="form-label"></label>
        <textarea class="form-control" rows="3" asp-for="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Ok</button>
    <a class="btn btn-primary" href="/" role="button">Cancel</a>
</form>
