@using ToDoApp.ViewModel
@model PasswordForgottenViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "ToDo - Password Forgotten";
}

<form method="post" action="/Authentication/SendPasswordResetMail">
    <div class="mb-2">
        <label asp-for="EMail" class="form-label"></label>
        <input class="form-control" asp-for="EMail">
        <span asp-validation-for="EMail" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Send Password Reset Mail</button>
</form>