@using ToDoApp.ViewModel
@model PasswordResetViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "ToDo - Password Reset";
}

<form method="post" action="/Authentication/ResetPassword">
    <input type="hidden" asp-for="Token">
    <div class="mb-2">
        <label asp-for="Password" class="form-label"></label>
        <input class="form-control" asp-for="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="PasswordRepeat" class="form-label"></label>
        <input class="form-control" asp-for="PasswordRepeat">
        <span asp-validation-for="PasswordRepeat" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>